.nova-consulta-form-container {
  max-width: 400px;
  margin: 48px auto;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
  padding: 32px 28px 28px 28px;
}

.nova-consulta-form-container h2 {
  text-align: center;
  color: #1d4127;
  margin-bottom: 24px;
  font-size: 1.5rem;
}

.nova-consulta-form label {
  display: block;
  margin-bottom: 18px;
  color: #1d4127;
  font-weight: 500;
}

.nova-consulta-form input[type="text"],
.nova-consulta-form input[type="datetime-local"],
.nova-consulta-form input[type="email"],
.nova-consulta-form input[type="tel"] {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #b2b2b2;
  font-size: 0.8rem;
  margin-top: 6px;
  margin-bottom: 2px;
  background: #f7faf9;
  transition: border 0.2s;
}

.nova-consulta-form input:focus {
  border: 1.5px solid #3a7bd5;
  outline: none;
}

.nova-consulta-form button {
  width: 100%;
  background: #1d4127;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
}

.nova-consulta-form button:disabled {
  background: #b2b2b2;
  cursor: not-allowed;
}

.nova-consulta-form button:hover:enabled {
  background: #3a7bd5;
}

.mensagem {
  margin-top: 16px;
  text-align: center;
  color: #1d4127;
  font-weight: 500;
}

/* Input estilizado */
.react-datepicker__input-container input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #b2b2b2;
  font-size: 0.8rem;
  margin-top: 6px;
  margin-bottom: 2px;
  background: #f7faf9;
  transition: border 0.2s;
}

.react-datepicker__input-container input:focus {
  border: 1.5px solid #3a7bd5;
  outline: none;
}

/* Contêiner principal do DatePicker */
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
}


.react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time {
  right: 10px;
  top: 10px;
  width: 18px;
  margin-right:80px;
}

.react-datepicker__navigation.react-datepicker__navigation--previous {
  left: 10px;
  top: 10px;
  width: 18px;
}
